<?xml version="1.0" encoding="UTF-8"?>
<robot name="hx4_d12_right">
   <link name="hx4_d12_right_base">
      <visual>
         <origin xyz="0 0 0" rpy="0 0 0" />
         <geometry>
            <mesh filename="package://hx4_d12/meshes/hx4_d12_base_unit.stl" scale="0.001 0.001 0.001" />
         </geometry>
         <material name="grey">
            <color rgba="0.2 0.2 0.2 1" />
         </material>
      </visual>
   </link>

   <!-- THUMB -->
   <joint name="finger_r_joint_1" type="revolute">
      <parent link="hx4_d12_right_base" />
      <child link="finger_r_link1" />
      <origin xyz="-0.011 0.019 0.01821" rpy="0 0 0" />
      <axis xyz="1 0 0" />
      <limit velocity="4.8" effort="1000" lower="-1.57" upper="1.57" />
      <dynamics damping="0.05" />
   </joint>
   <link name="finger_r_link1">
      <visual>
         <origin xyz="0 0 0" rpy="0 0 0" />
         <geometry>
            <mesh filename="package://hx4_d12/meshes/hx4_d12_thumb1.stl" scale="0.001 0.001 0.001" />
         </geometry>
         <material name="grey">
            <color rgba="0.2 0.2 0.2 1" />
         </material>
      </visual>
   </link>
   <joint name="finger_r_joint_2" type="revolute">
      <parent link="finger_r_link1" />
      <child link="finger_r_link2" />
      <origin xyz="0.039 0.0 0.0" rpy="0 0 0" />
      <axis xyz="0 0 1" />
      <limit velocity="4.8" effort="1000" lower="-1.57" upper="0.0" />
      <dynamics damping="0.05" />
   </joint>
   <link name="finger_r_link2">
      <visual>
         <origin xyz="0 0 0" rpy="0 0 0" />
         <geometry>
            <mesh filename="package://hx4_d12/meshes/hx4_d12_thumb2.stl" scale="0.001 0.001 0.001" />
         </geometry>
         <material name="grey">
            <color rgba="0.2 0.2 0.2 1" />
         </material>
      </visual>
   </link>
   <joint name="finger_r_joint_3" type="revolute">
      <parent link="finger_r_link2" />
      <child link="finger_r_link3" />
      <origin xyz="0.0 0.028 0.0" rpy="0 0 0" />
      <axis xyz="1 0 0" />
      <limit velocity="4.8" effort="1000" lower="0.0" upper="1.57" />
      <dynamics damping="0.05" />
   </joint>
   <link name="finger_r_link3">
      <visual>
         <origin xyz="0 0 0" rpy="0 0 0" />
         <geometry>
            <mesh filename="package://hx4_d12/meshes/hx4_d12_thumb3.stl" scale="0.001 0.001 0.001" />
         </geometry>
         <material name="grey">
            <color rgba="0.2 0.2 0.2 1" />
         </material>
      </visual>
   </link>

   <!-- INDEX -->
   <joint name="finger_r_joint_4" type="revolute">
      <parent link="hx4_d12_right_base" />
      <child link="finger_r_link4" />
      <origin xyz="0.0 0.027 0.061" rpy="0 0 0" />
      <axis xyz="1 0 0" />
      <limit velocity="4.8" effort="1000" lower="-0.6" upper="0.6" />
      <dynamics damping="0.05" />
   </joint>
   <link name="finger_r_link4">
      <visual>
         <origin xyz="0 0 0" rpy="0 0 0" />
         <geometry>
            <mesh filename="package://hx4_d12/meshes/hx4_d12_finger1.stl" scale="0.001 0.001 0.001" />
         </geometry>
         <material name="grey">
            <color rgba="0.2 0.2 0.2 1" />
         </material>
      </visual>
   </link>
   <joint name="finger_r_joint_5" type="revolute">
      <parent link="finger_r_link4" />
      <child link="finger_r_link5" />
      <origin xyz="0.016 0.0 0.0235" rpy="0 0 0" />
      <axis xyz="0 1 0" />
      <limit velocity="4.8" effort="1000" lower="0.0" upper="2.0" />
      <dynamics damping="0.05" />
   </joint>
   <link name="finger_r_link5">
      <visual>
         <origin xyz="0 0 0" rpy="0 0 0" />
         <geometry>
            <mesh filename="package://hx4_d12/meshes/hx4_d12_finger2.stl" scale="0.001 0.001 0.001" />
         </geometry>
         <material name="grey">
            <color rgba="0.2 0.2 0.2 1" />
         </material>
      </visual>
   </link>
   <joint name="finger_r_joint_6" type="revolute">
      <parent link="finger_r_link5" />
      <child link="finger_r_link6" />
      <origin xyz="0.0 0.0 0.0445" rpy="0 0 0" />
      <axis xyz="0 1 0" />
      <limit velocity="4.8" effort="1000" lower="0.0" upper="1.57" />
      <dynamics damping="0.05" />
   </joint>
   <link name="finger_r_link6">
      <visual>
         <origin xyz="0 0 0" rpy="0 0 0" />
         <geometry>
            <mesh filename="package://hx4_d12/meshes/hx4_d12_finger3.stl" scale="0.001 0.001 0.001" />
         </geometry>
         <material name="grey">
            <color rgba="0.2 0.2 0.2 1" />
         </material>
      </visual>
   </link>

   <!-- MIDDLE -->
   <joint name="finger_r_joint_7" type="revolute">
      <parent link="hx4_d12_right_base" />
      <child link="finger_r_link7" />
      <origin xyz="0.0 0.0 0.066" rpy="0 0 0" />
      <axis xyz="1 0 0" />
      <limit velocity="4.8" effort="1000" lower="-0.6" upper="0.6" />
      <dynamics damping="0.05" />
   </joint>
   <link name="finger_r_link7">
      <visual>
         <origin xyz="0 0 0" rpy="0 0 0" />
         <geometry>
            <mesh filename="package://hx4_d12/meshes/hx4_d12_finger1.stl" scale="0.001 0.001 0.001" />
         </geometry>
         <material name="grey">
            <color rgba="0.2 0.2 0.2 1" />
         </material>
      </visual>
   </link>
   <joint name="finger_r_joint_8" type="revolute">
      <parent link="finger_r_link7" />
      <child link="finger_r_link8" />
      <origin xyz="0.016 0.0 0.0235" rpy="0 0 0" />
      <axis xyz="0 1 0" />
      <limit velocity="4.8" effort="1000" lower="0.0" upper="2.0" />
      <dynamics damping="0.05" />
   </joint>
   <link name="finger_r_link8">
      <visual>
         <origin xyz="0 0 0" rpy="0 0 0" />
         <geometry>
            <mesh filename="package://hx4_d12/meshes/hx4_d12_finger2.stl" scale="0.001 0.001 0.001" />
         </geometry>
         <material name="grey">
            <color rgba="0.2 0.2 0.2 1" />
         </material>
      </visual>
   </link>
   <joint name="finger_r_joint_9" type="revolute">
      <parent link="finger_r_link8" />
      <child link="finger_r_link9" />
      <origin xyz="0.0 0.0 0.0445" rpy="0 0 0" />
      <axis xyz="0 1 0" />
      <limit velocity="4.8" effort="1000" lower="0.0" upper="1.57" />
      <dynamics damping="0.05" />
   </joint>
   <link name="finger_r_link9">
      <visual>
         <origin xyz="0 0 0" rpy="0 0 0" />
         <geometry>
            <mesh filename="package://hx4_d12/meshes/hx4_d12_finger3.stl" scale="0.001 0.001 0.001" />
         </geometry>
         <material name="grey">
            <color rgba="0.2 0.2 0.2 1" />
         </material>
      </visual>
   </link>

   <!-- RING -->
   <joint name="finger_r_joint_10" type="revolute">
      <parent link="hx4_d12_right_base" />
      <child link="finger_r_link10" />
      <origin xyz="0.0 -0.027 0.061" rpy="0 0 0" />
      <axis xyz="1 0 0" />
      <limit velocity="4.8" effort="1000" lower="-0.6" upper="0.6" />
      <dynamics damping="0.05" />
   </joint>
   <link name="finger_r_link10">
      <visual>
         <origin xyz="0 0 0" rpy="0 0 0" />
         <geometry>
            <mesh filename="package://hx4_d12/meshes/hx4_d12_finger1.stl" scale="0.001 0.001 0.001" />
         </geometry>
         <material name="grey">
            <color rgba="0.2 0.2 0.2 1" />
         </material>
      </visual>
   </link>
   <joint name="finger_r_joint_11" type="revolute">
      <parent link="finger_r_link10" />
      <child link="finger_r_link11" />
      <origin xyz="0.016 0.0 0.0235" rpy="0 0 0" />
      <axis xyz="0 1 0" />
      <limit velocity="4.8" effort="1000" lower="0.0" upper="2.0" />
      <dynamics damping="0.05" />
   </joint>
   <link name="finger_r_link11">
      <visual>
         <origin xyz="0 0 0" rpy="0 0 0" />
         <geometry>
            <mesh filename="package://hx4_d12/meshes/hx4_d12_finger2.stl" scale="0.001 0.001 0.001" />
         </geometry>
         <material name="grey">
            <color rgba="0.2 0.2 0.2 1" />
         </material>
      </visual>
   </link>
   <joint name="finger_r_joint_12" type="revolute">
      <parent link="finger_r_link11" />
      <child link="finger_r_link12" />
      <origin xyz="0.0 0.0 0.0445" rpy="0 0 0" />
      <axis xyz="0 1 0" />
      <limit velocity="4.8" effort="1000" lower="0.0" upper="1.57" />
      <dynamics damping="0.05" />
   </joint>
   <link name="finger_r_link12">
      <visual>
         <origin xyz="0 0 0" rpy="0 0 0" />
         <geometry>
            <mesh filename="package://hx4_d12/meshes/hx4_d12_finger3.stl" scale="0.001 0.001 0.001" />
         </geometry>
         <material name="grey">
            <color rgba="0.2 0.2 0.2 1" />
         </material>
      </visual>
   </link>
</robot>
